/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');
/* common styles or utilites */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Mukta', sans-serif;
}
a{
    text-decoration: none;
}
.container{
    width: 88%;
    /* margin: auto; */
    margin-top: 2.5em;
    margin-left: 8em;
}
hr{
    border-bottom: 1px solid #323232;
    opacity: 20%;
}
/* header styles */
header{
    background-color: #161616;
    
}
.top_banner{
    display: flex;
    justify-content: space-around;
    
    border-radius: 20px;
    /* height: 430px; */
}
.banner_img{
    max-width: 100%;
}
.banner_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #efeef1;
    margin-left: 10%;
}
.live_btn {
    background-color: #ce353d;
    color: white;
    border-radius: 5px;
    width: 30%;
    margin-top: 1.5em;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.click_icon{
    margin-top: 5px;
}
.click_btn{
    color:white;
}
/* main section styles */
.all_blogs{
    display: flex;
}
.fix_options{
    width: 300px;
    height: 253px;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-right: 1em;
}
.option{
    display: flex;
    justify-content: center;
    margin: 20px 10px;
    text-align: center;
    color: #161616;
}
.option strong{
    width: 220px;
    background-color: white;
    padding: 4%;
    border-radius: 10px;
}
#red_color{
    background-color: #ce353d;
    color:#ffffff
}
.grid_opts{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.blog{
    box-shadow: -1px 1px 10px 0px #cdc8c8;
    color:#161616;
}
.blog .thumbnil{
    max-width: 100%;
}
.blog .thumbnil img{
    width: 295px;
    height: 175px;
    border-radius: 6px 6px 0px 0px;
}
.blog_content {
    margin: 1em 0 0 1em;
    line-height: 2;
}
.details_btn {
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid #161616;
    color: #161616;
    transition: .5s;
    font-size: 15px;
    font-weight: 600;
}
.details_btn:hover{
    background-color: #ce353d;
    cursor:pointer;
    color:#ffffff
}
.content_a h3{
    line-height: 1.5;
    margin: 5px 0px;
    font-size: 20px;
}
.content_b span{
    margin:0 20px 0 5px;
}
/* hidden button styles */
.invisible_btn{
    width: 88%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4em auto;
    visibility: hidden;
}
.invisible_btn a{
    background-color: #ce353d;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 700;
}
/* footer section styles */
#footer_section{
    background-color: #161616;
    color:#ffffff;
}
.footer_heading{
    text-align: center;
    padding: 5em 0;
}
.footer_content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em 0em 1em 0em;
}

.content_option a {
    color: #ffffff;
    padding: 5px 10px;
    margin-right: 1em;
}
.content_option span{
    color:#898989;
    transition: .5s;
}
.content_option span:hover{
    color: #ce353d;
}
.social_media{
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}
.media_icon{
    color: #898989;
    padding: 5px 10px;
    font-size: 30px;
    transition: .5s;
}
.media_icon:hover{
    color: #ce353d;
}
/* mobile view responsive */
@media screen and (max-width:687px) {

.container{
    width: 100%;
    margin-left: 0;
    padding-bottom: 2.5em;
}
.top_banner{
    flex-direction: column-reverse;

}
.all_blogs {
    flex-direction: column;
}
.fix_options{
    width: 100%;
    padding-bottom: 5em;
    margin-bottom: 1em;
}
.grid_opts{
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    align-items: center;
    grid-gap:0;
}
.blog{
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer_section{
    width: 100%;
}
.footer_content{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.media_icon{
    font-size: 20px;
}
  
}
/* tablet view responsive */
@media screen and (min-width:688px) and (max-width:992px) {
    .container{
        width: 100%;
        margin-left: 0;
        padding-bottom: 2.5em;
    }
    .banner_img{
        width: 50%;
    }
    
    .all_blogs {
        flex-direction: column;
    }

    .blog{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:1em 0;
    }
    .blog_content{
        width: 70%;
        margin: auto;
    }
    .fix_options{
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 1em;
        background-color: #ffffff;
        height: 60px;
        transition: .5s;
    }
    .option strong:visited{
         background-color: #ce353d;
         color:#ffffff
    }
    .grid_opts{
        grid-template-columns: repeat(2,1fr);
        justify-content: space-around;
        align-items: center;
        grid-gap:10px;
    }
    .invisible_btn{
        visibility: visible;
        
    }
    hr{
        width: 90%;
        margin: auto;
    }
    .footer_content{
        width: 85%;
        margin: auto;
    }
    .content_option a{
        margin: 0;
    }
   

}